body {
  background-image: url("../images/background.jpg");
  background-color: #000000;
  color: #FFFFFF;
  margin: auto;
  max-width: max-content;
}

#outerTable td {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}

#slideTitle {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  display: block;
  text-wrap: wrap;
  background-color: rgba(1, 9, 20, 0.6);
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.6);
}

#innerTable td {
  text-align: center;
  vertical-align: middle;
/*width: 674px; Now calculated dynamically to simulate responsiveness
  height: 674px;*/
  border-style: groove;
  border-width: 3px;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.6);
  background-color: #000000;
}

img.spacePix {
  display: block;
  margin: auto;
}

button {
  font-family: Arial;
  vertical-align: top;
  width: 2em;
  height: 2em;
}

#slideName {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  display: block;
  text-wrap: wrap;
  background-color: rgba(1, 9, 20, 0.6);
}
